In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from datetime import date, datetime, timedelta
from sklearn.metrics import accuracy_score

In [3]:
market_train_df = pd.read_csv("/content/gdrive/My Drive/Forecasting Stock Prices Using News Sentiment Analysis/Datasets/market_train_full.csv")
market_train_df.drop('Unnamed: 0', inplace = True, axis = 1)
market_train_df['time'] = pd.to_datetime(market_train_df['time'], errors='coerce')
print(f'{market_train_df.shape[0]} samples and {market_train_df.shape[1]} features in the training market dataset.')

4072956 samples and 16 features in the training market dataset.

In [4]:
market_train_df.head()

                       time assetCode  ... returnsOpenNextMktres10  universe
0 2007-02-01 22:00:00+00:00       A.N  ...                0.034672       1.0
1 2007-02-01 22:00:00+00:00     AAI.N  ...                0.027803       0.0
2 2007-02-01 22:00:00+00:00     AAP.N  ...                0.024433       1.0
3 2007-02-01 22:00:00+00:00    AAPL.O  ...               -0.007425       1.0
4 2007-02-01 22:00:00+00:00     ABB.N  ...               -0.017994       1.0

[5 rows x 16 columns]

In [5]:
news_train_df = pd.read_csv("/content/gdrive/My Drive/Forecasting Stock Prices Using News Sentiment Analysis/Datasets/news_train.csv")
news_train_df.drop('Unnamed: 0', inplace = True, axis = 1)
news_train_df['time'] = pd.to_datetime(news_train_df['time'] , errors='coerce')
print(f'{market_train_df.shape[0]} samples and {market_train_df.shape[1]} features in the training news dataset.')

4072956 samples and 16 features in the training news dataset.

In [6]:
news_train_df.head()

                       time  ... volumeCounts7D
0 2007-01-01 04:29:32+00:00  ...              7
1 2007-01-01 07:03:35+00:00  ...              3
2 2007-01-01 11:29:56+00:00  ...             17
3 2007-01-01 12:08:37+00:00  ...             15
4 2007-01-01 12:08:37+00:00  ...              0

[5 rows x 35 columns]

In [7]:
start_date = date(2015,1,1)

In [8]:
# Removing NaN
column_market = ['returnsClosePrevMktres1','returnsOpenPrevMktres1','returnsClosePrevMktres10', 'returnsOpenPrevMktres10']
column_raw = ['returnsClosePrevRaw1', 'returnsOpenPrevRaw1','returnsClosePrevRaw10', 'returnsOpenPrevRaw10']
for i in range(len(column_raw)):
    market_train_df[column_market[i]] = market_train_df[column_market[i]].fillna(market_train_df[column_raw[i]])

# removing anomalies from Market Data (See EDA)

market_train_df['close_to_open'] =  np.abs(market_train_df['close'] / market_train_df['open'])

market_train_df['assetName_mean_open'] = market_train_df.groupby('assetName')['open'].transform('mean')
market_train_df['assetName_mean_close'] = market_train_df.groupby('assetName')['close'].transform('mean')

# if open price is too far from mean open price for this company, replace it. Otherwise replace close price.
for i, row in market_train_df.loc[market_train_df['close_to_open'] >= 2].iterrows():
    if np.abs(row['assetName_mean_open'] - row['open']) > np.abs(row['assetName_mean_close'] - row['close']):
        market_train_df.iloc[i,5] = row['assetName_mean_open']
    else:
        market_train_df.iloc[i,4] = row['assetName_mean_close']
        
        
for i, row in market_train_df.loc[market_train_df['close_to_open'] <= 0.5].iterrows():
    if np.abs(row['assetName_mean_open'] - row['open']) > np.abs(row['assetName_mean_close'] - row['close']):
        market_train_df.iloc[i,5] = row['assetName_mean_open']
    else:
        market_train_df.iloc[i,4] = row['assetName_mean_close']

In [9]:
# Reducing timeframe to recent market activities
market_train_df = market_train_df.loc[market_train_df['time'].dt.date >= start_date]
news_train_df = news_train_df.loc[news_train_df['time'].dt.date >= start_date]

In [10]:
market_train_df.head()

                             time  ... assetName_mean_close
3180756 2015-01-02 22:00:00+00:00  ...            38.607230
3180757 2015-01-02 22:00:00+00:00  ...            40.433180
3180758 2015-01-02 22:00:00+00:00  ...            28.010568
3180759 2015-01-02 22:00:00+00:00  ...            84.301749
3180760 2015-01-02 22:00:00+00:00  ...           262.096429

[5 rows x 19 columns]

In [11]:
news_train_df.head()

                             time  ... volumeCounts7D
7274526 2015-01-01 00:00:04+00:00  ...              0
7274527 2015-01-01 00:00:04+00:00  ...              0
7274528 2015-01-01 00:23:05+00:00  ...              0
7274529 2015-01-01 00:23:07+00:00  ...              1
7274530 2015-01-01 00:30:00+00:00  ...              0

[5 rows x 35 columns]

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.corpus import stopwords

column_market = ['returnsClosePrevMktres1','returnsOpenPrevMktres1','returnsClosePrevMktres10', 'returnsOpenPrevMktres10']
column_raw = ['returnsClosePrevRaw1', 'returnsOpenPrevRaw1','returnsClosePrevRaw10', 'returnsOpenPrevRaw10']

news_train_df.headline = np.where(news_train_df.headline.isnull(), "", news_train_df.headline)

vectorizer = CountVectorizer(max_features=1000, stop_words={"english"})

X = vectorizer.fit_transform(news_train_df['headline'].values)
tf_transformer = TfidfTransformer(use_idf=False).fit(X)
X_train_tf = tf_transformer.transform(X)
X_train_vals = X_train_tf.mean(axis=1)

del vectorizer
del X
del X_train_tf

#mean tf-idf score for news article.
d = pd.DataFrame(data=X_train_vals)
news_train_df['tf_score'] = d

In [13]:
# add new features

market_train_df['rolling_average_close_mean'] = market_train_df.groupby('assetCode')['close'].transform('mean')
market_train_df['rolling_average_vol_mean'] = market_train_df.groupby('assetCode')['volume'].transform('mean')
market_train_df['rolling_average_close_std'] = market_train_df.groupby('assetCode')['close'].transform('std')
market_train_df['rolling_average_vol_std'] = market_train_df.groupby('assetCode')['volume'].transform('std')

In [14]:
#some more refined instruments
market_train_df['moving_average_7_day'] = market_train_df.groupby('assetCode')['close'].transform(lambda x: x.rolling(window=7).mean())

# exponential weighted moving average

ewma = pd.Series.ewm
market_train_df['ewma'] =  market_train_df.groupby('assetCode')['close'].transform(lambda x : ewma(x, span=30).mean())
market_train_df['moving_average_7_day'] = market_train_df['moving_average_7_day'].fillna(0)
market_train_df['ewma'] = market_train_df['ewma'].fillna(0)

In [15]:
for i in range(len(column_raw)):
    market_train_df[column_market[i]] = market_train_df[column_market[i]].fillna(market_train_df[column_raw[i]])

column_return = column_market + column_raw + ['returnsOpenNextMktres10']

# remove outliers data from market train dataset
for column in column_return:
    market_train_df = market_train_df.loc[market_train_df[column]>=-2]
    market_train_df = market_train_df.loc[market_train_df[column]<=2]

In [16]:
# remove unusual assets
market_train_df = market_train_df[~market_train_df['assetCode'].isin(['PGN.N','EBRYY.OB'])]

In [17]:
# Function to remove outliers from news train
def remove_outliers(data_frame, column_list, low=0.02, high=0.98):
    for column in column_list:
        this_column = data_frame[column]
        quant_df = this_column.quantile([low,high])
        low_limit = quant_df[low]
        high_limit = quant_df[high]
        data_frame[column] = data_frame[column].clip(lower=low_limit, upper=high_limit)
    return data_frame

In [18]:
news_columns_numerical = ['takeSequence', 'bodySize', 'sentenceCount', 'wordCount', 'sentimentWordCount', 'firstMentionSentence','noveltyCount12H',\
                  'noveltyCount24H', 'noveltyCount3D', 'noveltyCount5D', 'noveltyCount7D', 'volumeCounts12H', 'volumeCounts24H',\
                  'volumeCounts3D','volumeCounts5D','volumeCounts7D']

In [19]:
news_train_df = remove_outliers(news_train_df, news_columns_numerical)

In [20]:
asset_code_dict = {k: v for v, k in enumerate(market_train_df['assetCode'].unique())}
drop_columns = [col for col in news_train_df.columns if col not in ['sourceTimestamp', 'urgency', 'takeSequence', 'bodySize', 'companyCount', 
               'sentenceCount', 'firstMentionSentence', 'relevance','firstCreated', 'assetCodes']]
news_columns = ['firstCreated','relevance','sentimentClass','sentimentNegative','sentimentNeutral',
               'sentimentPositive','noveltyCount24H','noveltyCount7D','volumeCounts24H','volumeCounts7D','assetCodes','sourceTimestamp',
               'assetName','audiences', 'urgency', 'takeSequence', 'bodySize', 'companyCount', 
               'sentenceCount', 'firstMentionSentence','time', 'tf_score']

In [21]:
def data_prep(market_df,news_df):
    market_df['time'] = pd.to_datetime(market_df['time'], errors='coerce')
    news_df['sourceTimestamp'] = pd.to_datetime(news_df['sourceTimestamp'], errors='coerce')
    news_df['firstCreated'] = pd.to_datetime(news_df['firstCreated'], errors='coerce')
    market_df['date'] = market_df.time.dt.date
    market_df['close_to_open'] = market_df['close'] / market_df['open']
    market_df.drop(['time'], axis=1, inplace=True)
    
    news_df = news_df[news_columns]
    news_df['sourceTimestamp']= news_df.sourceTimestamp.dt.hour
    news_df['firstCreated'] = news_df.firstCreated.dt.date
    news_df['assetCodesLen'] = news_df['assetCodes'].map(lambda x: len(eval(x)))
    news_df['assetCodes'] = news_df['assetCodes'].map(lambda x: list(eval(x))[0])
    news_df['asset_sentiment_count'] = news_df.groupby(['assetName', 'sentimentClass'])['time'].transform('count')
    news_df['len_audiences'] = news_train_df['audiences'].map(lambda x: len(eval(x)))
    kcol = ['firstCreated', 'assetCodes']
    news_df = news_df.groupby(kcol, as_index=False).mean()
    market_df = pd.merge(market_df, news_df, how='left', left_on=['date', 'assetCode'], 
                            right_on=['firstCreated', 'assetCodes'])
    del news_df
#     market_df['assetCodeT'] = market_df['assetCode'].map(asset_code_dict)
    market_df = market_df.drop(columns = ['firstCreated','assetCodes','assetName']).fillna(0) 
#     print(market_df.count)
    return market_df

In [22]:
market_train_df = data_prep(market_train_df, news_train_df)
market_train_df = market_train_df.loc[market_train_df['date']>=start_date]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [23]:
market_train_df.describe().round(3)

             volume       close  ...  asset_sentiment_count  len_audiences
count  8.920250e+05  892025.000  ...             892025.000     892025.000
mean   2.498488e+06      48.487  ...                 89.903          0.777
std    5.594024e+06      57.967  ...                334.819          2.041
min    0.000000e+00       0.461  ...                  0.000          0.000
25%    5.023450e+05      19.080  ...                  0.000          0.000
50%    1.026280e+06      35.050  ...                  0.000          0.000
75%    2.365369e+06      60.640  ...                  0.000          0.000
max    4.313326e+08    1578.130  ...               7027.000         25.000

[8 rows x 42 columns]

In [24]:
cat_cols = ['assetCodeT']
num_cols = ['volume', 'close', 'open', 'returnsClosePrevRaw1', 'returnsOpenPrevRaw1', 'returnsClosePrevMktres1', 'returnsOpenPrevMktres1', 'returnsClosePrevRaw10', 'returnsOpenPrevRaw10', 
               'returnsClosePrevMktres10', 'returnsOpenPrevMktres10', 'close_to_open', 'rolling_average_close_mean', 'rolling_average_vol_mean', 'rolling_average_close_std', 'ewma', 'rolling_average_close_std', 'sourceTimestamp', 'urgency', 'companyCount', 'takeSequence', 'bodySize', 'sentenceCount',
               'moving_average_7_day','relevance', 'sentimentClass', 'sentimentNegative', 'sentimentNeutral', 'sentimentPositive',
               'noveltyCount24H','noveltyCount7D','volumeCounts24H','volumeCounts7D','assetCodesLen', 'asset_sentiment_count', 'len_audiences', 'tf_score']
scale_cols = ['volume', 'close', 'open','assetName_mean_open', 'assetName_mean_close', 'rolling_average_close_mean', 'rolling_average_vol_mean', 'rolling_average_close_std', 'rolling_average_vol_std', 'moving_average_7_day', 'ewma']
scale_cols_min_max=['noveltyCount24H', 'noveltyCount7D', 'volumeCounts24H',
       'volumeCounts7D', 'sourceTimestamp', 'takeSequence',
       'bodySize', 'companyCount', 'sentenceCount', 'firstMentionSentence', 'assetCodesLen', 'asset_sentiment_count', 'len_audiences']

In [25]:
from sklearn.model_selection import train_test_split
train_indices, val_indices = train_test_split(market_train_df.index.values,
                                              test_size=0.25,
                                              random_state=42,
                                              shuffle=False)

In [26]:
# market_train_df.columns

In [27]:
def encode(encoder, x):
    len_encoder = len(encoder)
    try:
        id = encoder[x]
    except KeyError:
        id = len_encoder
    return id

encoders = [{} for cat in cat_cols]

market_train_df['assetCodeT'] = market_train_df['assetCode'].astype(str).apply(lambda x: encode(encoders[0], x))
embed_sizes = [len(encoder) + 1 for encoder in encoders] #+1 for possible unknown assets

In [28]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
 
market_train_df[num_cols] = market_train_df[num_cols].fillna(0)
# print('scaling numerical columns')

#col_mean = market_train[col].mean()
#market_train[col].fillna(col_mean, inplace=True)
scaler = StandardScaler()
scalerMinMax= MinMaxScaler()
market_train_df[scale_cols] = scaler.fit_transform(market_train_df[scale_cols])
market_train_df[scale_cols_min_max] = scalerMinMax.fit_transform(market_train_df[scale_cols_min_max])

In [29]:
market_train_df.head()

  assetCode    volume  ...  len_audiences  assetCodeT
0       A.N -0.172986  ...            0.0           0
1     AAL.O  1.476258  ...            0.0           0
2     AAN.N -0.285901  ...            0.0           0
3     AAP.N -0.355470  ...            0.0           0
4    AAPL.O  9.064345  ...            0.0           0

[5 rows x 45 columns]

In [31]:
from keras.models import Model
from keras.layers import Input, Dense, Embedding, Concatenate, Flatten, BatchNormalization, Dropout
from keras.losses import binary_crossentropy
import keras

categorical_inputs = []
for cat in cat_cols:
    categorical_inputs.append(Input(shape=[1], name=cat))

categorical_embeddings = []
for i, cat in enumerate(cat_cols):
    categorical_embeddings.append(Embedding(embed_sizes[i], 10)(categorical_inputs[i]))

#categorical_logits = Concatenate()([Flatten()(cat_emb) for cat_emb in categorical_embeddings])
categorical_logits = Flatten()(categorical_embeddings[0])
categorical_logits = Dense(32,activation='relu')(categorical_logits)
categorical_logits = Dropout(0.5)(categorical_logits)
categorical_logits = BatchNormalization()(categorical_logits)
categorical_logits = Dense(32,activation='relu')(categorical_logits)

numerical_inputs = Input(shape=(len(num_cols),), name='num')
numerical_logits = numerical_inputs
numerical_logits = BatchNormalization()(numerical_logits)
numerical_logits = Dense(128,activation='relu')(numerical_logits)

numerical_logits = Dropout(0.5)(numerical_logits)
numerical_logits = BatchNormalization()(numerical_logits)
numerical_logits = Dense(128,activation='relu')(numerical_logits)
numerical_logits = Dense(64,activation='relu')(numerical_logits)

logits = Concatenate()([numerical_logits,categorical_logits])
logits = Dense(64,activation='relu')(logits)
out = Dense(1, activation='sigmoid')(logits)

METRICS = [
      keras.metrics.BinaryAccuracy(name='accuracy'),
      keras.metrics.Precision(name='precision'),
      keras.metrics.Recall(name='recall'),
      keras.metrics.AUC(name='auc'),
]

model = Model(inputs = categorical_inputs + [numerical_inputs], outputs=out)
model.compile(optimizer='adam',loss=binary_crossentropy, metrics=METRICS)

In [32]:
model.summary()

Model: "functional_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
num (InputLayer)                [(None, 37)]         0
__________________________________________________________________________________________________
assetCodeT (InputLayer)         [(None, 1)]          0
__________________________________________________________________________________________________
batch_normalization_4 (BatchNor (None, 37)           148         num[0][0]
__________________________________________________________________________________________________
embedding_1 (Embedding)         (None, 1, 10)        10          assetCodeT[0][0]
__________________________________________________________________________________________________
dense_9 (Dense)                 (None, 128)          4864        batch_normalization_4[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 10)           0           embedding_1[0][0]
__________________________________________________________________________________________________
dropout_3 (Dropout)             (None, 128)          0           dense_9[0][0]
__________________________________________________________________________________________________
dense_7 (Dense)                 (None, 32)           352         flatten_1[0][0]
__________________________________________________________________________________________________
batch_normalization_5 (BatchNor (None, 128)          512         dropout_3[0][0]
__________________________________________________________________________________________________
dropout_2 (Dropout)             (None, 32)           0           dense_7[0][0]
__________________________________________________________________________________________________
dense_10 (Dense)                (None, 128)          16512       batch_normalization_5[0][0]
__________________________________________________________________________________________________
batch_normalization_3 (BatchNor (None, 32)           128         dropout_2[0][0]
__________________________________________________________________________________________________
dense_11 (Dense)                (None, 64)           8256        dense_10[0][0]
__________________________________________________________________________________________________
dense_8 (Dense)                 (None, 32)           1056        batch_normalization_3[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 96)           0           dense_11[0][0]
                                                                 dense_8[0][0]
__________________________________________________________________________________________________
dense_12 (Dense)                (None, 64)           6208        concatenate_1[0][0]
__________________________________________________________________________________________________
dense_13 (Dense)                (None, 1)            65          dense_12[0][0]
==================================================================================================
Total params: 38,111
Trainable params: 37,717
Non-trainable params: 394
__________________________________________________________________________________________________

In [33]:
# from keras.utils import plot_model
# plot_model(model, to_file='model.png')

In [34]:
def get_input(market_train, indices):
    X_num = market_train.loc[indices, num_cols].values
    X = {'num':X_num}
    for cat in cat_cols:
        X[cat] = market_train.loc[indices, cat_cols].values
    y = (market_train.loc[indices,'returnsOpenNextMktres10'] >= 0).values

    return X,y

X_train,y_train= get_input(market_train_df, train_indices)
X_valid,y_valid= get_input(market_train_df, val_indices)

In [ ]:
from keras.callbacks import EarlyStopping, ModelCheckpoint

num_epochs=20

check_point = ModelCheckpoint('model.hdf5',verbose=True, save_best_only=True)
early_stop = EarlyStopping(monitor='val_auc', patience=5,verbose=True)
history=model.fit(X_train,y_train.astype(int),
          validation_data=(X_valid,y_valid.astype(int)),
          epochs=num_epochs,
          verbose=True,
          callbacks=[early_stop,check_point])

In [84]:
colors = plt.rcParams['axes.prop_cycle'].by_key()['color']
def plot_loss(history, label, n):
  # Use a log scale to show the wide range of values.
  plt.semilogy(history.epoch,  history.history['loss'],
               color=colors[n], label='Train '+label)
  plt.semilogy(history.epoch,  history.history['val_loss'],
          color=colors[n], label='Val '+label,
          linestyle="--")
  plt.xlabel('Epoch')
  plt.ylabel('Loss')
  
  plt.legend()

In [ ]:
plot_loss(history, "Loss", 0)

In [86]:
def plot_metrics(history):
  metrics =  ['loss', 'auc', 'precision', 'recall']
  plt.figure(figsize=(15, 15))
  for n, metric in enumerate(metrics):
    name = metric.replace("_"," ").capitalize()
    plt.subplot(2,2,n+1)
    plt.plot(history.epoch,  history.history[metric], color=colors[0], label='Train')
    plt.plot(history.epoch, history.history['val_'+metric],
             color=colors[0], linestyle="--", label='Val')
    plt.xlabel('Epoch')
    plt.ylabel(name)
    if metric == 'loss':
      plt.ylim([0, plt.ylim()[1]])
    elif metric == 'auc':
      plt.ylim([0.8,1])
    else:
      plt.ylim([0,1])

    plt.legend()

In [ ]:
plot_metrics(history)